<header>
  <h1>My Shopping Site</h1>
  <button *ngIf="showHome" (click)="Home()">Home</button>
  <button *ngIf="showProductManagement" (click)="navigateToProductManagement()">product-management</button>
  <button *ngIf="showUsersStatus" (click)="navigateToUsersStatus()" >users status</button>
  <button *ngIf="showLogout" (click)="logout()">Logout</button>
</header>

<!-- תוכן דינמי -->
<main class="content">
  <router-outlet></router-outlet>
</main>

<!-- פוטר -->
<footer>
  <p>© 2024 My Store. All rights reserved.</p>
</footer>