* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* עיצוב כותרת ותפריט */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%; 
  }
  
  /* עיצוב אזור תוכן */
  main.content {
    padding: 20px;
    min-height: 400px; /* להבטיח שהתוכן לא ייפול */
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
  }
  
  /* עיצוב פוטר */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  